body {
  color: #333;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background: rgb(197, 196, 196);
}
#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
  font-size: 17px;
}
#container h1 {
  font-size: 22px;
  text-align: center;
}
